@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #e4e5ea;
}

body {
  background-color: black;

  @media (min-width: 1024px) {
    background: url('./img/bg-desktop.png') center / cover no-repeat;
    padding: 0px 150px;
  }
}

header {
  width: 100%;
  background-color: black;
  position: fixed;

  @media (min-width: 1024px) {
    display: flex;
    position: relative;
    margin-top: 50px;
    background-color: inherit;
    align-items: flex-start;
    /* justify-content: space-between; */
  }
}

.logo {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.logo p {
  width: 160px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 300;
}

nav {
  height: 55px;
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1024px) {
    height: auto;
    flex-grow: 1;
    margin-right: 130px;
    justify-content: space-around;
  }
}

nav a {
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    font-size: 16px;
    text-transform: none;
  }
}

.nav__none {
  display: none;

  @media (min-width: 1024px) {
    display: inline;
  }
}

.header__contacts {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}

.header__contacts .icons {
  gap: 30px;
  padding: 0;
}

main {
  background: url('./img/bg.png') center / cover no-repeat;
  padding: 95px 0px 60px 14px;

  @media (min-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
    background: none;
    display: flex;
    justify-content: space-between;
  }
}

.title {
  line-height: 43px;
  font-weight: 400;
  font-size: 36px;

  @media (min-width: 1024px) {
    line-height: normal;
    font-size: 48px;
  }
}

.title__span {
  font-weight: 900;
  background: linear-gradient(to right, #fcb045, #ff3f78);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title__desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: 16px;
}

.desc {
  font-weight: 500;
  font-size: 18px;
  margin-top: 48px;

  @media screen {
    margin-top: 0;
  }
}

.desc__span {
  @media (min-width: 1024px) {
    text-transform: uppercase;
  }
}

.desc__span:nth-of-type(1) {
  font-weight: bold;
  background: linear-gradient(to right, #fcb045, #fd1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc__span:nth-of-type(2) {
  color: #fcb045;
}

.gifts__block {
  margin-top: 45px;

  @media (min-width: 1024px) {
    margin-top: 0px;
    width: 310px;
    text-align: right;
  }
}

.gifts {
  display: grid;
  align-items: end;
  grid-template-columns: repeat(auto-fit, 140px);

  @media (min-width: 1024px) {
    display: none;
  }
}

.gifts__desktop {
  display: none;

  @media (min-width: 1024px) {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 140px);
    margin-top: 35px;
  }
}

.gift {
  display: flex;
  align-items: center;
  margin-top: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;

  @media (min-width: 1024px) {
    flex-flow: column;
    align-items: end;
    text-transform: none;
    gap: 6px;
  }
}

.gift__title {
  letter-spacing: 0.9px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.gift__desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.gift__btn {
  display: none;

  @media (min-width: 1024px) {
    display: inline;
    cursor: pointer;
    margin-top: 60px;
    padding: 21px 35px;
    background-color: #4077f3;
    border: none;
  }
}

.line {
  height: 1px;
  width: 10px;
  margin-right: 5px;
  background: linear-gradient(to right, #fcb045 30%, #fd1d1d);
}

footer {
  padding: 45px 14px 0px;

  @media (min-width: 1024px) {
    padding: 45px 0px 0px;
    display: flex;
    justify-content: space-between;
  }
}

.title__info {
  color: #656566;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.items,
.contacts__items {
  margin-top: 20px;
}

.contacts__items {
  @media (min-width: 1024px) {
    display: flex;
    flex-flow: column;
    gap: 20px;
  }
}

.item {
  margin-top: 10px;
  font-size: 14px;
}

.item a {
  text-decoration: none;
}

.about__company,
.menu,
.contacts {
  @media (min-width: 1024px) {
    flex: 1;
  }
}

.menu,
.contacts {
  margin-top: 30px;

  @media (min-width: 1024px) {
    margin-top: 0;
  }
}

.contacts {
  @media (min-width: 1024px) {
    text-align: end;
  }
}

.items__menu {
  display: grid;
  column-gap: 48px;
  grid-template-columns: repeat(auto-fit, 120px);

  @media (min-width: 1024px) {
    gap: 0;
    grid-template-columns: repeat(auto-fit, 180px);
  }
}

.phone {
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 12px;
  padding: 12px 0px;

  @media (min-width: 1024px) {
    padding: 0;
    justify-content: end;
  }
}

.icon {
  cursor: pointer;
}

.copyright {
  margin: 50px 15px 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;

  @media (min-width: 1024px) {
    margin: 30px 0px 20px;
    text-align: end;
  }
}
